.products{
    margin: 10px auto;

    width:95% ;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(245, 161, 238);
    border-radius: 5px;


}
.card
{
    width: 360px;
    margin: 10px;
    height: 500px;
    border: 3px solid black;
    border-radius: 5px;
    overflow:hidden;
    padding: 10px;
    background-color: rgb(140, 252, 190);
    margin-bottom: 20px;
}

.product-img{
    width: 325px;
    height:200px;
    align-items: center;   
    display: block;
    object-fit: cover;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 8px;
    border: 2px solid black;


}
.product-name{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5px;
    font-weight: 800;
    
}

.product-price{
    font-size: 10x;
    text-align: center;
}

.product-desc{
    font-size: 15px;
    text-align: center;
    padding: 2px;
}

.Button{

    width: 100%;
    height: 48px;
}
.Button:hover{
    background-color: red;

}

.Button:active{
    transform: translateY(2px);

}
.desc{
    width: 100%;;
    height:50%;
}